<!-- <swiper-container [slidesPerView]="3.2" [spaceBetween]="-10" >
  <swiper-slide *ngFor="let pares of peliculas | pares">

    <ion-row>

      <ion-col size="12" *ngFor="let pelicula of pares">
        <ion-card>
          <ion-img class="poster" 
          [src]="pelicula.poster_path| imagen"></ion-img>
        </ion-card>
      </ion-col>


    </ion-row>
  </swiper-slide>

  <swiper-slide class="slide-mas">
    <ion-button id="botonmas" class="btn-mas"
    (click)="onClick()" 
    expand="full" size="large">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </swiper-slide>

</swiper-container>
 -->

 <div class="slider">
  <div class="slide" *ngFor="let pares of peliculas | pares">
    <ion-row>
      <ion-col size="12" *ngFor="let pelicula of pares">
        <ion-card mode ="md" (click)="verDetalle(pelicula.id)">
          <ion-img class="poster" [src]="pelicula.poster_path | imagen"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <div class="slide slide-mas" >
    <ion-button id="botonmas" class="btn-mas" (click)="onClick()" expand="full" size="large">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>
</div>
