swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #0054e9);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  
  swiper-slide img {
    // width: auto;
    max-width: 100%;
    // height: auto;
    max-height: 100%;
  }

/*   .slider {
    overflow: hidden;
    width: 300px; 
    height: 200px;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .slide:first-child {
    display: block;
  } */
  
  .slider {
    overflow: hidden;
    width: 100%; /* Ancho del deslizador */
    display: flex; /* Mostrar los slides en línea */
  }
  
  .slide {
    flex: 0 0 auto; /* Hace que los slides no se ajusten */
    display: flex; /* Mostrar los elementos de cada slide en línea */
  }
  
  .slide ion-row {
    display: flex; /* Mostrar las filas en línea */
  }
  
  .slide ion-col {
    flex: 0 0 auto; /* Hace que las columnas no se ajusten */
  }
  
  /* Animación para cambiar entre slides */
  @keyframes slideAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .slide {
    animation: slideAnimation 1s ease forwards;
  }